body,html {
    height: 100%;
  }
  .top {
    display: block;
    height: 80px;
    background: url(../image/top.png) 50% 0px no-repeat;;
  }
  .header {
    height: 40px;
    font-size: 12px;
    color: #71797F;
    background-color: #F3F5F7;
    .header-nav {
      float: left;
      li{
        float: left;
        padding: 0 16px;
        line-height: 40px;
        position: relative;
        &:first-child{
          padding: 0 16px 0 0;
        }
        a {
          float: left;
          font-size: 12px;
          line-height: 40px;
          span {
            display: inline-block;
            width: 14px;
            height: 14px;
            margin: 12px 4px 0 0;
            background: url(../image/common_sprite.png) no-repeat;
            vertical-align: top;
          }
          &:hover{
            color: #FF734C;
          }
          .star {
            background-position: 0 -21px;
          }
          .weixin {
            background-position: -24px -21px;
          }
          .app {
            background-position: -48px -21px;
          }
        }
      }
    }
    .header-r {
      float: right;
      li {
        padding: 0 16px;
        line-height: 40px;
        float: left;
        position: relative;
        a {
          float: left;
          line-height: 40px;
          &:hover{
            color: #FF734C;
          }
        }
      }
      .brand {
        padding: 0 0 0 16px;
      }
      .login-add {
        .login,.usermsg{
          margin-right: 12px;
        }
      }
      .hide {
        display: none;
      }
      .severbox {
        .sever {
          span {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-left: 5px;
            background: url(../image/arrow.png) no-repeat top center;
            background-size: 8px 8px;
            transition: transform 0.2s;
            transition: transform 0.2s, -webkit-transform 0.2s;
          }
        }
        &:hover{
          span {
            transform: rotate(180deg);
          }
        }
      }
      .car {
        span {
          color: #ff6a00;
        }
      }
    }
    .a-box {
      display: none;
      position: absolute;
      top: 100%;
      left: -1px;
      min-width: 160px;
      padding: 12px;
      font-size: 12px;
      line-height: 18px;
      color: #232628;
      background: #fff;
      border: 1px solid #E9ECF0;
      border-top-color: transparent;
      text-align: center;
      z-index: 1000;
    }
    .diff {
      width: 100%;
      min-width: 100%;
      max-width: 100%;
      padding: 6px 0;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      li {
        width: 100%;
        font-size: 12px;
        line-height: 20px;
        color: #71797F;
        a {
          width: 100%;
          line-height: 20px;
        }
      }
    }
    .show {
      display: block;
    }
  }
  
  .nav-search {
    height: 120px;
    .logo {
      display: block;
      float: left;
      width: 238px;
      height: 60px;
      margin-top: 30px;
      background: url(../image/common_sprite.png) no-repeat 0 -248px;
      h1 {
        font-size: 0;
      }
    }
    .search-box {
      float: left;
      width: 440px;
      margin-top: 25px;
      margin-left: 142px;
      height: 72px;
      .search {
        width: 440px;
        height: 48px;
        border-radius: 24px;
        border: 2px solid #FF734C;
        overflow: hidden;
        .search-btn {
          float: left;
          width: 54px;
          height: 100%;
          text-align: center;
          i {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-top: 16px;
            background: url(../image/common_sprite.png) no-repeat 0 -48px;
            vertical-align: top;
          }
        }
        input {
          float: left;
          width: 268px;
          height: 48px;
          line-height: 48px;
          font-size: 14px;
          &::-webkit-input-placeholder { /* WebKit browsers 适配谷歌 */
            color: #B4BABF;
            line-height: 48px;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 适配火狐 */
            color: #B4BABF;
            line-height: 48px;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ 适配火狐 */
            color: #B4BABF;
            line-height: 48px;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10+  适配ie*/
            color: #B4BABF;
            line-height: 48px;
          }
        }
        
        button {
          float: left;
          width: 114px;
          height: 100%;
          text-align: center;
          color: #fff;
          text-align: center;
          line-height: 48px;
          font-size: 18px;
          font-weight: bold;
          background-color: #FF734C;
          background: linear-gradient(90deg, #ff734c 0%, #ff3d12 100%);
          border-radius: 24px 0 0 24px;
        }
      }
      .hotwords {
        margin-top: 8px;
        margin-left: 44px;
        font-size: 12px;
        li {
          float: left;
          a {
            margin: 0 12px;
            color: #B4BABF;
          }
        }
      }
    }
    .link {
      float: right;
      margin-top: 25px;
      li {
        float: left;
        i {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-top: 12px;
          margin-right: 8px;
          background: url(../image/common_sprite.png) no-repeat;
          vertical-align: top;
        }
        .tel-icon {
          background-position: 0 -102px;
        }
        .online-icon {
          background-position: -34px -102px;
        }
      }
      .tel {
        margin-right: 40px;
        span {
          display: inline-block;
          margin-top: 15px;
          vertical-align: top;
          text-align: left;
        }
      }
      .online {
        a {
          display: inline-block;
          margin-top: 15px;
          vertical-align: top;
          text-align: left;
        }
      }
    }
  }
  
  .nav {
    height: 52px;
    .nav-slider {
      position: relative;
      width: 240px;
      height: 52px;
      float: left;
      border-radius: 12px 12px 0 0;
      background-color: #FF734C;
      .nav-slider-titie {
        padding-left: 24px;
        font-size: 18px;
        line-height: 52px;
        font-weight: bold;
        span {
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-top: 14px;
          margin-right: 4px;
          background: url(../image/common_sprite.png) no-repeat -68px -102px;
          vertical-align: top;
        }
        a {
          color: #fff;
        }
      }
    }
  }
  .nav-slider-con {
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: 480px;
    padding-top: 10px;
    background: url(../image/black-bg.png);
    z-index: 999;
    .slider-item {
      padding: 9px 0px 9px 20px;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
      dt {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 4px;
        span {
          width: 12px;
          height: 12px;
          float: right;
          margin-right: 34px;
          margin-top: 4px;
          background: url(../image/common_sprite.png) no-repeat -44px 0;
          vertical-align: top;
        }
      }
      dd {
        float: left;
        font-size: 14px;
        line-height: 24px;
        padding: 0 5px;
      }
    }
  }
  .slider-item{
    a {
      color: #fff;
      &:hover {
        color: #FF734C;
      }
    }
  }
  .slider-item .a_color {
    color: #71797F;
  }
  .slider-item .dt_color {
    color: #232628;
  }
  
  .right-desc {
    display: none;
    position: absolute;
    top: 1px;
    left: 0;
    margin-left: 240px;
    padding: 20px 36px;
    width: 960px;
    height: 478px;
    background-color: #fff;
    z-index: 999;
  }
  .show {
    z-index: 9999;
    display: block;
  }
  .desc-list {
    h3 {
      margin-bottom: 16px;
      font-size: 14px;
      line-height: 22px;
      color: #232628;
    }
  }
  .desc-items img {
      width: 108px;
      vertical-align: middle;
  }
  
  .different img {
    width: 68px;
    height: 68px;
  }
  
  .desc-items a {
    // float: left;
    // display: block;
    display: inline-block;
    width: 110px;
    margin-right: 12px;
    margin-bottom: 30px;
    text-align: center;
    color: #71797F;
    &:nth-child(7n){
      margin-right: 0;
    }
    p {
      margin-top: 4px;
      font-size: 12px;
      line-height: 16px;
    }
  }
  
  .desc-items .cities {
    display: inline;
    clear: both;
    font-size: 12px;
    line-height: 24px;
  }
  
  
  
  .nav-main {
    float: left;
    margin-left: 24px;
    li {
      float: left;
      margin: 0 14px;
      font-size: 18px;
      font-weight: bold;
      line-height: 52px;
      a {
        color: #232628;
        &:hover {
          color: #FF734C;
        }
      }
      .qixi {
        color: #FF734C;
      }
    }
  }

  
// 尾部
.footer {
    background-color: #232628;
    padding: 40px 0 46px;
    .ft-t {
      overflow: hidden;
      a {
        float: left;
        font-size: 16px;
        line-height: 16px;
        color: #fff;
        padding-left: 32px;
        margin-left: 30px;
        border-left: 1px solid #fff;
        &:first-child{
          padding-left: 0;
          margin-left: 0;
          border-left: none;
        }
      }
    }
    .ft-m {
      margin-top: 30px;
      p {
        font-size: 12px;
        color: #71797F;
        line-height: 22px;
        a{
          color: #71797F;
        }
      }
      h4 {
        margin-top: 7px;
        span {
          width: 149px;
          height: 40px;
          margin-right: 12px;
          display: inline-block;
          background: url(../image/common_sprite.png) no-repeat -518px -136px;
          vertical-align: top;
        }
        .a1 {
          width: 123px;
          height: 40px;
          margin-right: 12px;
          display: inline-block;
          background: url(../image/common_sprite.png) no-repeat -676px -136px;
          vertical-align: top;
        }
        .a2 {
          width: 33px;
          height: 40px;
          margin-right: 12px;
          display: inline-block;
          background: url(../image/common_sprite.png) no-repeat -809px -136px;
          vertical-align: top;
        }
        .a3{
          display: inline-block;
          background: #fff;
          border-radius: 2px;
          margin-right: 12px;
        }
        .a3 img {
          width: 30px;
          height: 40px;
          margin: 0 5px;
        }
      }
    }
    .ft-link {
      margin-top: 10px;
      color: #71797F;
      a {
        margin: 0 2px;
        font-size: 12px;
        line-height: 16px;
      }
  
    }
    & a:hover{
      color: #FF734C!important;
    }
  }
  
  .voice {
    width: 240px;
    height: 40px;
    position: fixed;
    z-index: 9999;
    right: 56px;
    bottom: 0;
    background-color: rgb(255, 102, 0);
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    span {
      display: inline-block;
      width: 40px;
      height: 40px;
      text-align: center;
      padding-top: 5px;
      border-right: 1px solid rgba(0, 0, 0, 0.08);
      margin-right: 18px;
      i{
        vertical-align: middle;
        padding-right: 32px;
        height: 32px;
        display: inline-block;
        background: url(../image/icon.png) -31px -3px / 64px no-repeat;
        background-position: -31px -3px;
      }
    }
  }
  
  .fix-nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 34px;
    height: 100%;
    background: #595656;
    z-index: 999;
  }
  .comon {
    li {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      margin-top: 10px;
      cursor: pointer;
      span {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 36px;
        top: 0;
        left: 0;
        background: url(../image/ibar_sprites.png) no-repeat;
        vertical-align: top;
      }
      .u-icon {
        background-position: 0 0;
      }
      .shop-icon {
        background-position: 0 -36px;
      }
      .ai-icon {
        background-position: 0 -72px;
      }
      .clock-icon {
        background-position: 0 -108px;
      }
      .tel-icon {
        background-position: 0 -144px;
      }
      .er-icon {
        background-position: 0 -180;
      }
    }
  }
  .user-msg {
    position: absolute;
    width: 34px;
    z-index: 9999;
    top: 50%;
    margin-top: -190px;
    height: 380px;
  }
  
  .shop {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-top: 10px;
    line-height: 16px;
    height: 133px;
    margin-top: 10px 0;
    background: url(../image/ibar_sprites.png) no-repeat -36px -216px;
    .shoptxt {
      width: 16px;
      height: 48px;
      margin: 2px 0 0 13px;
      color: #fff;
      font-size: 12px;
    }
    .shop-num {
      font-size: 12px;
      line-height: 21px;
      display: block;
      width: 21px;
      height: 21px;
      margin: 9px 0 0 8px;
      cursor: pointer;
      text-align: center;
      color: #fff;
      border-radius: 50%;
      background: #ff6600;
    }
  }
  
  .xinxi {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 36px;
    z-index: 1;
    .ewm-icon {
      background-position: 0 -216px;
    }
    .bi-icon {
      background-position: 0 -362px;
    }
    .back-icon {
      background-position: 0 -252px;
    }
  
  }
  .move {
    line-height: 36px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: -150px;
    display: none;
    width: 120px;
    height: 36px;
    text-align: center;
    color: #595656;
    background-color: #fff;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    cursor: pointer;
    
  }
  .x-icon {
    position: absolute;
    top: 15px;
    right: -6px;
    left: auto;
    overflow: hidden;
    width: 6px;
    height: 9px;
    vertical-align: top;
    background: url(//img02.hua.com/pc/assets/img/mbar/ibar_sprites.png) no-repeat 0 -302px;
  }
  .ewm-con {
      position: absolute;
      z-index: 3;
      top: -162px;
      left: -288px;
      display: none;
      width: 288px;
      height: 200px;
      text-align: center;
      border-radius: 3px 0 0 3px;
      background-color: #fff;
      box-shadow: 0 0 2px rgba(0,0,0,.2);
      p {
        font-weight: bold;
        display: inline-block;
        width: 110px;
        margin: 30px 10px 0;
        text-align: center;
        color: #595656;
        img {
          margin-bottom: 10px;
          width: 100%;
        }
      }
      .con-icon {
        top: auto;
        bottom: 15px;
      }
  }