.content {
	.item {
		cursor: pointer;
	}
	.top-bar {
		height: 40px;
		margin-bottom: 10px;
		background: #fe7a24;
		.nva-bar {
			height: 100%;
			line-height: 40px;
			.drop-down {
				float: left;
				height: 100%;
				width: 190px;
				padding: 0 15px;
				font-size: 15px;
				font-weight: 700;
				color: #fff;
				cursor: pointer;
				position: relative;
				&:hover .drop-down-box {
					display: block;
				}
				.drop-down-box {
					position: absolute;
					top: 40px;
					left: 0;
					width: 100%;
					border: 1px solid #ff6a00;
					border-top: none;
					border-bottom-width: 4px;
					padding: 10px 12px;
					background: #fff;
					display: none;
					li {
						border-bottom: 1px solid #ccc;
						.title {
							color: #ff6a00;
							font-size: 14px;
							font-weight: 700;
							height: 20px;
							line-height: 20px;
						}
						.key-box {
							.item {
								float: left;
								color: #999;
								font-size: 12px;
								font-weight: normal;
								margin-right: 5px;
								height: 30px;
								line-height: 30px;
							}
						}
					}
				}
			}
			.nav-items {
				float: left;
				height: 100%;
				li {
					float: left;
					padding: 0 24px;
					font-size: 15px;
					font-weight: 700;
					color: #fff;
					cursor: pointer;
				}
			}
			.active {
				background: #ff6a00;
			}
		}
	}
	.selector {
		.type {
			border-bottom: 1px solid #666;
			padding: 0 20px;
			margin-bottom: 10px;
			.item {
				float: left;
				font-size: 14px;
				line-height: 40px;
				height: 40px;
				margin-right: 40px;
			}
			.active {
				color: #ff6a00;
			}
		}
		.classify,
		.crowd {
			background: #f5f5f5;
			margin-bottom: 2px;
			padding: 20px;
			height: 60px;
			.label {
				float: left;
				margin-right: 40px;
			}
			.box {
				float: left;
				.item {
					float: left;
					margin-right: 20px;
				}
			}
			.active {
				color: #ff6a00;
			}
		}
	}
	.list {
		margin-top: 20px;
		.shop-item {
			width: 285px;
			height: 430px;
			float: left;
			margin: 0 0 60px 20px;
			&:nth-of-type(4n + 1) {
				margin-left: 0;
			}
			&:hover {
				box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
			}
			a {
				display: block;
				width: 100%;
				height: 100%;
			}
			.img {
				img {
					width: 100%;
					height: auto;
				}
			}
			.info {
				text-align: center;
				padding: 10px;
				.promotion {
					color: #f00;
					font-size: 14px;
					font-weight: 700;
				}
				.name {
					font-size: 14px;
					font-weight: 700;
					margin-bottom: 10px;
					overflow: hidden;
					height: 20px;
					line-height: 20px;
				}
				.desc {
					font-size: 12px;
					margin-bottom: 10px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					font-size: 12px;
					min-height: 17px;
				}
				.price {
					font-size: 14px;
					color: #222;
				}
			}
		}
	}
}
